<% provide(:title, 'About') %>

<div class="block">
  <div class="container about">
    <h2>FREE FLOW FLAVA (рус. "Клан Свободного Течения")</h2>
      <p>Молодой российский битмейкер.
        Основной концепцией творчества является фольклор Восточной Азии,</p>
       <p>"пропущенный сквозь призму" современной hip-hop культуры.
     </p>
    <%= image_tag("about1.jpg", alt: "FFF", width: '1050', height: '250') %>
  </div>
</div>
