<% provide(:title, "Help") %>
  <div class="center">
    <h1>Help</h1>
      <h4>
        Get help on the Ruby on Rails Tutorial at the
        <a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>.
        To get help on this sample app, see the
        <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
        book</a>.
        Also don't forget to use Google and stackoverflow.
        Good luck :)
      </h4>
        <%= link_to image_tag("overflow.png", alt:"Stackoverflow", width:'600') %>
  </div>
