<footer class="footer">
  <small>
    SUPREME POWER &copy 2017 Matz Chromatick.
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/born2lose">GitHub</a></li>
    </ul>
  </nav>
</footer>
