<footer class="footer">
  <small>
    The <a href="https://vk.com/freeflowflavabeats">Free Flow Flava Beats</a>
    by SUPREME POWER &copy 2017 Matz Chromatick.
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/born2lose">GitHub</a></li>
    </ul>
  </nav>
</footer>
